!!!
%html
  %head
    %title= @title
    %link(rel="stylesheet" href="/style.css" type="text/css" media="screen")
    %link(rel="shortcut icon" href="/favicon.ico")

  %body
    %h1
      George Clooney is in
      %span.answer #{@current_movies.size}
      movie#{@current_movies.size != 1 ? 's' : ''}
      %em right now.
    - if !@upcoming_movies.nil?
      %h3.pipeline
        (with
        %span.answer #{@upcoming_movies.size}
        in the pipeline!)

    #content
      #current
        %h2 Current Movies
        %ul.movies
          - @current_movies.each do |m|
            = haml :movie, :locals => {:m => m}

      - if !@upcoming_movies.nil?
        #upcoming
          %h2 Upcoming Movies
          %ul.movies
            - @upcoming_movies.each do |m|
              = haml :movie, :locals => {:m => m}

    %footer= haml :footer
    %img.clooney(src="/clooney.png")

    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-11813410-1");
      pageTracker._trackPageview();
      } catch(err) {}
