!!!
%html
  %head
    %title= @title
    %link(rel="stylesheet" href="/style.css" type="text/css" media="screen")
    %link(rel="shortcut icon" href="/favicon.ico")

  %body
    %h1
      George Clooney is in
      %span.answer #{@current_movies.size}
      movie#{@current_movies.size != 1 ? 's' : ''} right now.
    %p.upcoming
      (With
      %span.answer #{@upcoming_movies.size}
      in the pipeline!)

    %h2.current Current Movies
    %ul#current.movies
      - @current_movies.each do |m|
        = haml :movie, :locals => {:m => m}

    %h2.upcoming Upcoming Movies
    %ul#upcoming.movies
      - @upcoming_movies.each do |m|
        = haml :movie, :locals => {:m => m}