!!!
%html
  %head
    %title= @title
    %link(rel="stylesheet" href="/style.css" type="text/css" media="screen")
    %link(rel="shortcut icon" href="/favicon.ico")

  %body
    %h1
      George Clooney is in
      %span.answer #{@current_movies.size + 1}
      movie#{@current_movies.size != 1 ? 's' : ''}
      %em right now.
    - if !@upcoming_movies.nil?
      %h3.pipeline
        (with
        %span.answer #{@upcoming_movies.size}
        in the pipeline!)

    #content
      #current
        %h2 Current Movies
        %ul.movies
          - @current_movies.each do |m|
            = haml :movie, :locals => {:m => m}

      - if !@upcoming_movies.nil?
        #upcoming
          %h2 Upcoming Movies
          %ul.movies
            - @upcoming_movies.each do |m|
              = haml :movie, :locals => {:m => m}